@import '~antd/dist/antd.less';

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .ant-spin {
    margin: auto;
  }

  .App {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .App-header {
    width: 100%;
  }
}

.user-actions-submenu {
  position: fixed;
}

.select-color-dropdown {
  background-color: #f0f2f5 !important;

  .rc-virtual-list-holder-inner {
    flex-direction: row !important;
  }

  [aria-selected='true'] {
    box-shadow: #1890ff 0px 0px 0px 2px;
  }
}
