.ForgotpasswordPage {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & div.ant-card.ant-card-bordered {
    width: 400px;
    overflow: hidden;
    border-radius: 1rem;
    border-color: #1b2330;

    div.ant-card-head {
      text-align: center;
      background-color: #1b2330;

      & div.ant-card-head-title {
        color: #fff;
        padding: 1.5rem 0;
        font-size: 1.7rem;
      }
    }
  }

  .signin-caption {
    display: block;
    text-align: center;
  }
}
