.SigninPage {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & div.ant-card.ant-card-bordered {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    div.ant-card-head {
      text-align: center;

      & div.ant-card-head-title {
        padding: 1.5rem 0;
        font-size: 1.7rem;
      }
    }
  }

  .signin-divider {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;

    hr {
      border: 0;
      width: 3.2rem;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    span {
      margin: 0 0.8rem;
      font-weight: 600;
    }
  }

  .signup-caption {
    display: block;
    text-align: center;
  }

  #google-signin-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #google-icon {
    width: 25px;
    height: 100%;
    margin-right: 0.5rem;
  }
}
