.DataOverviewPage {
  position: relative;
  padding: 0 2rem;
  margin-bottom: 2rem;

  .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;

    &::before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 233px;
      position: absolute;
      pointer-events: none;
      background: linear-gradient(to right, #1b2330 0%, #252f3e 100%);
    }

    .title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      z-index: 1;
      color: #fff;
      margin: 0;
      font-size: 2rem;
      font-weight: 700;

      & > span,
      & > img {
        margin-right: 0.5rem !important;
      }
    }

    .data-overview-search {
      width: 50%;
      margin: auto;
    }
  }

  .data-overview-row:hover {
    cursor: pointer;
  }

  .ant-pagination {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
